@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
*{
    font-family: lato;
}
/* .body {
    width: 300px;
    height: 300px;
    background-color: red;
    position: fixed;
    overflow: scroll;
}
.body .ball {
    width: 400px;
    height: 450px;
    border-radius: 300px;
    background-color: black;
    position: absolute;
    top: -30px;
    left: 300px;
} */
html,body {
    margin: 0px;
    padding: 0px;
}
.body {
    height: 130vh;
    width: 100%;
    background-color: #2929fa;
    display: flex;
    position: absolute;
    justify-content: right;
    border-top-right-radius: 49px;
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    
}
.body .sidenav,.logout {
    float: left;
    display: block;
    justify-content: left;
    margin-top: 320px;
    margin-left: 20px;
    width: 120px;
    height: 420px;
    color: #ececec;
    font-size: 13px;
}
.body .sidenav a:link,
.body .sidenav a:visited {
    color: white;
    text-decoration: none;
    width: 100%;
    margin-bottom: 40px;
}
.body .logout a:link,
.body .logout a:visited {
    color: white;
    text-decoration: none;
}
.body .logout:hover,
.body .logout:active {
    color: #c9c9c9;
    background-color: #000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}
.body .sidenav a:hover,
.body .sidenav a:active {
    color: #c9c9c9;
}
.body .sidenav .navs:hover,.body .sidenav .nav-special:hover {
    background-color: black;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -12px;
}
.navs,.nav-special {
    margin-bottom: 40px;
}
.brand-logo {
   height: 40px;
   margin-right: -85px;
   margin-top: 40px;
}
.brand-logo i {
    font-size: 45px;
    color: #f3f3f3;
}
.body .sidenav i, .logout .nav-logout i {margin-right: 10px;}
.logout {
    height: 50px;
    width:70px;
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 850px;
    margin-left:-115px;
    margin-right: 40px;

}
.body .mainboard {
    height: 130vh;
    width: 90% ;
    background-color: #e4e4e4;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    border: 1px solid #e4e4e4;
    position: relative;
    box-shadow: 0px 2px 2px #3f3e3e;
    /* position: absolute; */
    z-index: 1;
}
.header {
    width: 90%;
    height: 70px;
    padding: 0 18px 0;
    padding-left: 0px;
    display: flex;
    position: fixed;
    background-color: #e4e4e4;
    box-shadow: 0px 0px 2px #686868;
    border-top-right-radius: 10px;
    /* border-bottom: 1px solid #3a3939; */
    margin-top: -2px;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    /* position: absolute; */
}
.header .search {
    display: flex;
    padding: 10px;
    width: 30%;
    /*padding-left: 0px;
    */border-radius: 30px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 2px 2px #3f3e3e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header .account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
.header .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.header .search input {
    outline: none;
    border: transparent;
    width: 80%;
}
.rightside {
    width: 280px;
    height: 767px;
    display: block;
    float: right;
    margin-top: -770px;
    /* background-color: red; */
}
.rightside .card {
    height: 140px;
    width: 220px;
    background-color: #ff539b;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 20px 20px 0;
    color: white;
    box-shadow: 0px 6px 3px #f08ab4;
    z-index: 1;
    /* position: sticky;
    top: 75px; */
}
.rightside .card .cardtype i {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
.small {font-size: 10px;}
.card strong {
    font-weight: 200;
    line-height: 100%;
}
.card p {font-weight: 300;}
.rightside .addcard {
    height: 30px;
    width: 130px;
    background-color: #221f1f;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 55px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside .transactions {
    height: 360px;
    width: 220px;
    background-color: white;
    border: 1px solid #c9c9c9;
    border-radius: 30px;
    margin-top: 110px;
    padding: 0px 20px 0px;
    box-shadow: 0px 0px 2px #c9c9c9;
}
.transactions .transactiontop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactiontop i,.top i {color: #555;}
.transactions .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    padding-bottom: 15px;
}
.info .bag {
    color: orangered;
    text-shadow: 3px 3px 6px orange;
}
.info .plane {
    color: blue;
    text-shadow: 3px 3px 6px lightblue;
}
.info .transfer {
    color: #15ce15;
    text-shadow: -3px -5px 6px greenyellow;
}
.info .gift {
    color: orangered;
    text-shadow: 0px 3px 6px #28a128;
}
.info .truck {
    color: #88d5ee;
    text-shadow: 0px 3px 1px #e2aa40;
}
.info span {color: red;}
.info .green {color: #15ce15;}
.transactions .info .detail {margin-left: -30px;}
.transactions .info .detail .small {
    font-size: 11px;
    color: #555;
    margin-top: -14px;
}

.transactions .info .detail .usage {
    font-weight: 400;
    text-shadow:0px 0px 1px black ;
}
.box, .bigbox, .lastpanel {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}

.box { 
    margin-top: 100px;
    margin-left: 15px;
}
.bigbox { margin-top: 25px;}
.lastpanel { margin-left:10px;}
.box .bxone, .bxtwo, .bxthree , .smbox, .sm2box{
    height: 120px;
    width: 240px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 2px 2px #3f3e3e;
    border-radius: 10px;
}
.underline,.underline2 {
    width: 90%;
    height: 1px;
    background-color: #c9c9c9;
    box-shadow: 0px 0px 2px #8f8f8f;
    /* margin-top: -5px; */

}
.smbox .chart-indicator {
    width: 45px;
    text-align: center;
    border-radius: 4px;
    margin-left: 105px;
    margin-top: -80px;
    font-size: 8px;
}
.smbox .arrow-down{
    height: 0;
    content: url('');
    width: 0;
    border-top: 5px solid #221f1f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 120px;
    margin-top: -12px;
}
.sm2box .chart-indicator {
    width: 45px;
    text-align: center;
    border-radius: 4px;
    margin-left: 68px;
    margin-top: -80px;
    font-size: 8px;
}
.sm2box .arrow-down{
    height: 0;
    content: url('');
    width: 0;
    border-top: 5px solid #221f1f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 83px;
    margin-top: -12px;

}
.smbox .chart,.chart2 {
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: 200px;
}
.smbox .chart .chart-a,.chart-e {
    height: 38px;
    width: 6px;
    margin-top: 12px;
    margin-right: 5px;
    background-color:#5252ff;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: 33px 0px 1px #5252ff,57px 0px 1px #5252ff;
}
.sm2box .chart2 .chart-e {
    background-color:#ff539b;
    box-shadow: 33px 0px 1px #ff539b,57px 0px 1px #ff539b;
}
.smbox .chart .chart-b,.chart-f {
    height: 49px;
    width: 6px;
    /* margin-left: 15px; */
    margin-right: 5px;
    background-color:#5252ff;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: 58px 0px 1px #5252ff,96px 0px 0px #5252ff,135px 0px 0px #5252ff,173px 0px 0px #5252ff;
}
.sm2box .chart2 .chart-f {
    background-color: #ff539b;
    box-shadow: 58px 0px 1px #ff539b,96px 0px 0px #ff539b,135px 0px 0px #ff539b,173px 0px 0px #ff539b;
}
.smbox .chart .chart-c,.chart-g {
    height: 25px;
    width: 6px;
    /* margin-left: 15px; */
    background-color:#5252ff;
    border-top-right-radius: 1px;
    margin-right: 16px;
    border-top-left-radius: 1px;
    box-shadow: 73px 0px 0px #5252ff,110px 0px 0px #5252ff,150px 0px 0px #5252ff,171px 0px 0px #5252ff;
}
.sm2box .chart2 .chart-g {
    background-color: #ff539b;
    box-shadow: 73px 0px 0px #ff539b,110px 0px 0px #ff539b,150px 0px 0px #ff539b,171px 0px 0px #ff539b;

}
.smbox .chart .chart-d,.chart-h {
    height: 10px;
    width: 6px;
    /* margin-left: 15px; */
    background-color:#5252ff;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    box-shadow: 39px 0px 1px #5252ff,76px 0px 0px #5252ff,115px 0px 0px #5252ff;
}
.sm2box .chart2 .chart-h {
    background-color: #ff539b;
    box-shadow: 39px 0px 1px #ff539b,76px 0px 0px #ff539b,115px 0px 0px #ff539b;
}

.box .bxone, .bxtwo, .bxthree {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bxone i,.bxtwo i,.bxthree i {
    color: blue;
    text-shadow: -3px 0px 3px #8c8cf5,0px 3px 3px #8c8cf5;
    font-size: 32px;
}
.box strong {
    font-size: larger;
    text-shadow: 0px 0px 1px black;
}
.bxtwo i {
    color: orangered;
    text-shadow: -3px 0px 3px orange,0px 3px 3px orange;
}
.bxthree i {
    color: #2fbdec;
    text-shadow: -3px 0px 3px lightblue,0px 4px 3px #b45508;
}
.bxtext{font-size: 12px; color: #555;}
.bigbox {
    justify-content: space-evenly;
    height: 400px;
}
.bgbox {
    height: 340px;
    width: 580px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 2px 2px #3f3e3e;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 47px;
    margin-right: 70px;
    padding: 5px 10px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.graph .curve-two {
    height: 290px;
    width: 100px;
    /* background-color: #15ce15; */
    border: 4px solid #5252ff;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: 25px;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    background: linear-gradient(#fff,#5252ff,#fff,#fff,#fff,#fff,#fff);
}
.graph .curve-three {
    height: 190px;
    width: 115px;
    /* background-color: #15ce15; */
    border: 4px solid #ff539b;
    border-radius: 50%;
    margin-top: -280px;
    margin-left: 96px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background: linear-gradient(#fff,#fff,#fff,#ff539b,#fff);
}
.graph .curve-four {
    height: 190px;
    width: 65px;
    /* background-color: #15ce15; */
    border: 4px solid #5252ff;
    border-radius: 50%;
    margin-top: -170px;
    margin-left: 209px;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    background: linear-gradient(180deg,#fff,#5252ff,#fff,#fff,#fff,#fff,#fff);
}
.graph .curve-five {
    height: 190px;
    width: 65px;
    /* background-color: #15ce15; */
    border: 4px solid #ff539b;
    border-radius: 50%;
    margin-top: -270px;
    margin-left: 267px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background: linear-gradient(#fff,#fff,#fff,#fff,#fff,#ff539b,#fff);
}
.graph .curve-six {
    height: 290px;
    width: 120px;
    /* background-color: #15ce15; */
    background: linear-gradient(180deg,#fff ,#5252ff,#FFF,#fff,#fff,#fff,#fff,#fff,#fff);
    border: 4px solid #5252ff;
    border-radius: 50%;
    margin-top: -155px;
    margin-left: 325px;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}
.graph .curve-indicator {
    box-shadow: 0px 0px 9px #b6aaaa;
    background-color: #5252ff;
    color: #FFF;
    font-weight: 300;
    font-size: 11px;
    width: 55px;
    height: 16px;
    text-align: center;
    margin-top: -300px;
    margin-left: 220px;
    border-radius: 3px;
}
.curve-indicator-up {
    margin-top: 190px;
    margin-left: 125px;
    border-radius: 3px;
    background-color: #ff539b;
    color: #FFF;
    font-weight: 300;
    font-size: 11px;
    width: 55px;
    height: 16px;
    text-align: center;
    box-shadow: 0px 0px 9px #b6aaaa;
}
.graph .arrow-up {
    margin-top: -26px;
    margin-left: 147px;
    height: 0;
    content: url('');
    width: 0;
    border-bottom: 5px solid #ff539b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}
.graph .arrow-down {
    margin-top: 0px;
    margin-left: 240px;
    height: 0;
    content: url('');
    width: 0;
    border-top: 5px solid #5252ff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .divtime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.divtime .special,.smbox .chart-indicator,.sm2box .chart-indicator {
    background-color: #221f1f;
    box-shadow: 0px 0px 9px #b6aaaa;
    color: #FFF;
    font-weight: 300;
    font-size: 11px;
}
.bgbox {
    overflow: hidden;
}
.bgbox .top .time,.special {
    height: 19px;
    width: 50px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    border-radius: 7px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px #c9c9c9;
}
 .rightpanel .smbox, .sm2box {
    padding: 0px 10px 20px;
    height: 100px;
    width: 220px;
}
.rightpanel {
    width: 300px;
    height: 350px;
    display: block;
}
.rightpanel .smbox {
    margin-top: -10px;
    margin-bottom: 105px;
}
.box1, .box2 {
    height: 160px;
    width: 350px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 2px 2px #3f3e3e;
    border-radius: 10px;
    padding: 0px 10px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.lastpanel .smallspan {
    font-size: 11px;
    color: #555;
}
.lastpanel .limit {
    margin-bottom: 30px;
    margin-top: 10px;
}
.lastpanel input {
    width: 90%;
}
.progress {
    /*background: #231f1f;
    */background:linear-gradient(to right,#231f1f 80%, #c9c9c9 10%);
    -webkit-appearance: none;
    outline: none;
    height: 5px;
    width: 400px;
    border-radius: 8px;
}
.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #221f1f;
    -webkit-appearance: none;
    background: white;
}
* button{
    outline: none;
    
}
.mainboard .header .bank-card {
    display: none;
}
.mainboard .header .bank-card .rightside {
    position: absolute;
    overflow-y: scroll;
}
.mainboard .header .account-option {
    display: none;
}
.mainboard .header .account-option .account-option-container {
    position: absolute;
}
.mainboard .chart-buttons button {
    display: none;
}
.mainboard .graph-box {
    display: none;
}
.mainboard .query-lastpanel {
    display: none;
}
/* .body .mainboard{
    height: fit-content;
}
.body{
    height: fit-content;
} */
.body .mainboard .box-new {
    display: none;
}
.account-option .account-option-container .account .account-name:hover,.account-option .account-option-container .account .account-chat:hover,.account-option .account-option-container .account .account-notification:hover,.account-option .account-option-container .options p:hover {
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    color:#2929fa;
}
 @media only screen and (max-width:1240px){
    .bgbox {
        margin-left: 24px;
        width: 600px;
        overflow: visible;
        overflow-y: hidden;
    }
    .box1,.box2 {
        width: 327px;
    }
    .brand-logo {
        margin-right: -90px;
     }
     .sidenav {
        margin-right: -10px;
        width: 120px;
        height: 420px;
        color: #ececec;
        font-size: 13px;
     }
     .bxone,.bxtwo,.bxthree {
        width: 225px;
     }
     .transactions {
        position: sticky;
        top: 400px;
     }
     .logout {
        margin-right: 34px;
     }
     .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }

}
@media only screen and(max-width:1165px){
    .box1,.box2 {
        width: 320px;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
    
}
@media only screen and (max-width:1149px) {
    .brand-logo {
        margin-right: -90px;
     }
     .brand-logo i {
         font-size: 42px;
         color: #f3f3f3;
     }
     .sidenav {
        margin-right: -10px;
        width: 120px;
        height: 420px;
        color: #ececec;
        font-size: 13px;
     }
     .bxtwo,.bxthree {
        width: 200px;
     }
     .bxone {
        width: 180px;
     }
     .box1,.box2 {
        width: 305px;
     }
     .logout{
        margin-right: 28px;
     }
     .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
     

    
}
@media only screen and (max-width:1080px){
    .rightside{
        width: 250px;
    }
    .bxone,.bxtwo,.bxthree {
        width: 170px;
        font-size: small;
    }
    .box {
        width: 560px;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    .bxone {
        width: 170px !important;
    }
    .rightpanel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        height: 250px;
    }
    .bigbox {
        flex-wrap: wrap;   
    }
    .bgbox {
        margin-left: 14px;
        margin-bottom: 10px;
    }
    .rightpanel:first-child {
        margin-top: 30px;
    }
    .sm2box {
        margin-top: -110px;
        margin-right: 47px;
    }
    .lastpanel {
        
        margin-top: 70px;
        width: 67%;
    }

    .box1,.box2 {
        width: 230px;
        height: 140px;
    }
    .box1 {
        margin-left: -20px;
    }
    .box2 {
        margin-right: 20px;
    }
    .rightside {
        margin-top: -820px;
        margin-right: 20px;
    }
    .logout {
        margin-right: 21px;
        margin-top: 815px;
    }
    .sidenav{
        font-size: 12px !important;
    }
    .header .account {
        width: 25%;
        display: flex;
        justify-content: space-between;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
}
@media only screen and (max-width:981px){
    .rightside{
        width: 250px;
        margin-top: -820px;
        margin-right: 30px;
    }
    .bxone,.bxtwo,.bxthree {
        width: 155px;
        font-size: small;
    }
    .box {
        width: 530px;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    .bxone {
        width: 155px !important;
    }
    .rightpanel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        height: 250px;
    }
    .bigbox {
        flex-wrap: wrap;   
    }
    .bgbox {
        margin-left: 14px;
        margin-bottom: 10px;
    }
    .rightpanel:first-child {
        margin-top: 30px;
    }
    .smbox{
        margin-left: 10px;
        
    }
    .sm2box {
        margin-top: -110px;
        margin-right: 67px;
    }
    .lastpanel {
        margin-top: 70px;
        width: 67%;
    }

    .box1,.box2 {
        width: 215px;
        height: 137px;
    }
    .box1 {
        margin-left: -20px;
    }
    .box2 {
        margin-right: 32px;
    }
    .rightside {
        height: 797px;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
} 
@media screen and (max-width:946px) {
    .box {
        max-width: 490px;
    }
    .box .bxone,.bxtwo,.bxthree {
        min-width: 140px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box i {
        font-size: 24px;
        margin-left: 10px;
    }
    .box p strong {
        font-size: 16px;
    }
    .box .text {
        margin-right: 3px;
    }
    .rightside {
        margin-right: 13px;
    }
    .rightpanel .sm2box,.rightpanel .smbox {
        width: 190px;
    }
    .rightpanel .smbox {
        margin-left: 15px;
    }
    .lastpanel .box1,.lastpanel .box2 {
        width: 190px;
    }
    .logout {
        margin-right: 13px;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
}
@media screen and (max-width:860px) {
    .box {
        width: 440px;
    }
    .box .bxone,.bxtwo,.bxthree {
        min-width: 125px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box i {
        font-size: 24px;
        margin-left: 10px;
    }
    .box p strong {
        font-size: 16px;
    }
    .box .text {
        margin-right: 3px;
    }
    .box .bxone {
        min-width: 125px !important;
    }
    .bigbox {
        width: 71%;
    }
    .rightside {
        margin-right: 0;
    }
    .rightside .yourcard {
        margin-left: 16px;
    }
    .rightside .card {
        width: 170px;
        margin-left: 20px;
    }
    .rightside .addcard {
        width:100px;
    }
    .rightside .transactions{
        width:185px;
        margin-left: 15px;
        padding-left:10px ;
    }    
    .rightside .transactions i {
        margin-right: 20px;
    }
    .bigbox .smbox,.bigbox .sm2box {
        width: 190px;
    }
    .bigbox .smbox {
        margin-right: 5px;
    }
    .lastpanel .box1,.lastpanel .box2 {
        width: 170px;
    }
    .sidenav {
        font-weight: bold;
    }
    .logout{
        margin-right: 9px;
    }
    .logout i {
        margin-left: 5px;
    }
    .brand-logo {
        margin-right: -80px;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }
}
@media screen and (max-width:789px) {
    .header .options,.header .account {
        display: none;
    }
    .rightside {
        display: none;
    }
    .mainboard .header .bank-card {
        display: inherit;
        border: 1px solid #8f8f8f;
        height: 30px;
        color: #202020;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .mainboard .header .bank-card:focus .rightside {
        display: block;
    } 
    .mainboard .header .bank-card:focus {
        background: linear-gradient(to right,wheat);
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
        border: 1px solid;
        color: #fff;
}
    .mainboard .header .bank-card {
        padding: 8px;
        color: black;
    }
    .mainboard .header .bank-card .rightside {
        margin-top: 20px;
        margin-left: -90px;
        height: fit-content;
        padding-bottom: 15px;
        border-radius: 9px;
        color: black;
        padding: 9px;
        background: linear-gradient(to right,wheat);
        /*background-color: #e4e4e4;
        */box-shadow: -2px 0px 2px #8b8989;
        position: absolute;
        right: 13px;
        top: 31px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
    .mainboard .header .bank-card .rightside .transactions {
        margin-top: 25px;
        padding-top: 0px;
        height: 280px;
        box-shadow: 0px 0px 4px black,0px 3px 2px white;
        position: static;
        height: fit-content;
    }
    .mainboard .header .bank-card .rightside .card {
        margin-top: 15px;
        position: static;
        height: fit-content;
    }
    .body .mainboard {
        width: 80%;
        overflow-x: hidden;
    }
    .mainboard .header {
        width: 80%;
        height: 50px;
    }
    .box {
        width: 100%;
        min-width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .box .bxone,.box .bxtwo,.box .bxthree {
        width: 160px;
    }
    .bigbox {
        width: 100%;
    }
    .lastpanel {
        width: 100%;
        flex-wrap: wrap;
    }
    .lastpanel .box1 {
        width: 200px;
    }
    .lastpanel .box2 {
        width: 200px;
        margin-right: 65px;
    }
    .lastpanel .box1 {
        margin-left: -5px;
        /* margin-right: 40px; */
    }
    .brand-logo {
        margin-right: -75px;
    }
    .sidenav {
        margin-right: -8px;
    }
    .logout {
        
        margin-right: 25px;
    }
    .mainboard .header .search {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        height: 10px;
        width: 35%;
}
    .mainboard .header .account-option {
        display: block;
        height: 30px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
}
    .mainboard .header .account-option-container {
        height: fit-content;
        width: 230px;
        padding: 10px;
        /*background-color: #e4e4e4;
        */box-shadow: -2px 0px 2px #c9c9c9;
        display: none;
        background: linear-gradient(to right,wheat);
        right: 17px;
        top: 53px;
        box-shadow: 0px 0px 6px black;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .mainboard .header .account-option:focus .account-option-container {
        display: block;
        outline: none;
        color: #000;
    }
    .mainboard .header .account-option:focus {
        background:linear-gradient(to right,wheat);
        border: 1px solid #000;
        border-radius: 3px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        color: white;
}
    .mainboard .header .account-option .account-option-container .account {
        height: fit-content;
        width: 230px;
        border: 1px solid transparent;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        display: inline-block;
        padding-bottom: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .mainboard .header .account-option .account-option-container .account .account-name {
        font-size: 19px;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;     
    }
    .mainboard .header .account-option .account-option-container .account .account-chat {
        font-size: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .mainboard .header .account-option .account-option-container .account .account-notification {
        font-size: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .mainboard .header .account-option .account-option-container .options {
        display: inline-block;
        height: fit-content;
        font-size: 15px;
        border: 1px solid transparent;
        width: 230px;
        border-radius: 10px;
        margin-top: -2px;
        border-top: 1px solid black;
        border: 1px solid transparent;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }

}
@media screen and (max-width:650px) {
    .body .mainboard .box {
        min-width: 350px;
        max-width: 480px;
        justify-content: space-between;
    }
    .body .mainboard .box .bxtwo,.bxthree {
        max-width:90px;
        min-width: 60px;
        height: 80px;
        display: block;
    }
    .body .mainboard .box .bxthree {
        margin-right: 50px;
    }
    .body .mainboard .box .bxone {
        height: 80px;
        max-width: 60px;
        display: block;
    } 
    .body .mainboard .box i {
        font-size: 15px;
        margin-left: 30px;
        margin-top: 3px;
    }
    .body .mainboard .box .text p{
        font-size: 10px;
        margin-left: 25px;
    }
    .bigbox .rightpanel {
        display: none;
    }
    .mainboard button .smbox,.mainboard button .sm2box {
        position: absolute;
    }
    .mainboard .chart-buttons button {
        display: flex;
        box-shadow: 0px 0px 5px black;
        background-color: white;
        padding: 8px;
        border: 1px solid #c9c9c9;
    }
    .mainboard .chart-buttons {
        display: flex;
        width: 84%;
        padding-left: 20px;
        justify-content: space-between;

    }
    .mainboard .chart-buttons button:focus .smbox {
        display: block;
    }
    .mainboard .chart-buttons button:focus .sm2box {
        display: block;
    }
    .mainboard .chart-buttons button .smbox {
        display: none;
        width: 200px;
        top: 619px;
        left: -8px;
        z-index: 3;
        box-shadow: 0px 0px 100px #000;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mainboard .chart-buttons button .sm2box {
        display: none;
        width: 200px;
        top: 730px;
        right: -65px;
        box-shadow: 0px 0px 100px #000;
    }
    .bigbox {
        display: none;
    }
    .mainboard .graph-box {
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .mainboard .graph-box .bgbox {
       min-width: 80% !important;
    }
     .mainboard .lastpanel {
       display: none;
    }
    .mainboard .query-lastpanel {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 250px;
        margin-top: 35px;
    }
    .mainboard .query-lastpanel .box1 {
        margin-left: 15px;
        width: 80%;
        height: 100px;
    }
    .mainboard .query-lastpanel .box1 input {
        width: 85%;
    }
    .mainboard .query-lastpanel .box2 {
        margin-left: 15px;
        height: 100px;
        width: 80%;
    }
    .mainboard .query-lastpanel .box2 input {
        width: 85%;
    }
    .mainboard .query-lastpanel .smallspan {
        font-size: smaller;
    }
    .brand-logo {
        margin-right: -80px;
    }
    .sidenav {
        margin-right: -25px;
        font-size: 8px;
    }
    .logout {
        margin-right: 23px;
    }
    .logout i {
        margin-left: 5px;
    }
    .body .mainboard{
        height: fit-content;
    }
    .body{
        height: fit-content;
    }

}
@media screen and (max-width:445px) {
    .body .mainboard .box {
        display: none;
    }
    .body .mainboard .box-new {
        display: flex;
    }
    .body .mainboard .box-new {
        width: 180px;
        height: 150px;
        justify-content: space-around;
        align-items: center;
        overflow-x: scroll;
        padding-top: 50px;
        margin-bottom: 23px;
        margin-left: 6px;
        padding-left: 100px;
    }
    .body .mainboard .box-new .new-bxone,.body .mainboard .box-new .new-bxtwo,.body .mainboard .box-new .new-bxthree {
        min-height: 110px;
        /*max-width: 120px;
        */min-width: 110px;
        background-color: white;
        border: 1px solid #c9c9c9;
        display: block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 10px 5px 0px;
        box-shadow: 0px 0px 3px #7c7c7c,0px 1px 4px #7a7878;
}
    .body .mainboard .box-new .new-bxthree {
        position: relative;
        margin-right: 10px;
    }
    .body .mainboard .box-new .new-bxtwo {
        position: relative;
        margin-right: 10px;
    }
    .body .mainboard .box-new .new-bxone {
        position: relative;
        margin-right: 10px;
        margin-left: 30px;
    }
    .body .mainboard .box-new .new-bxone:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        margin-left: 10px;
        z-index: 2;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
}
    .body .mainboard .box-new .new-bxtwo:hover,.body .mainboard .box-new .new-bxthree:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        margin-right: 30px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
}
    .new-bxone i,.new-bxtwo i,.new-bxthree i {
        color: wheat;
        text-shadow: -3px 0px 3px #8c8cf5,0px 3px 3px #8c8cf5;
        font-size: 20px;
    }
    .box strong {
        font-size: larger;
        text-shadow: 0px 0px 1px black;
    }
    .new-bxtwo i {
        color: lightblue;
        text-shadow: -3px 0px 3px orange,0px 3px 3px orange;
    }
    .new-bxthree i {
        color: #2fbdec;
        text-shadow: -3px 0px 3px lightblue,0px 4px 3px #b45508;
    }
    .bgbox strong{
        font-size: 14px;

    }
    .graph-box .bgbox .top {
        justify-content: space-between;
        display: flex;
    }
    .graph-box .bgbox .divtime {
        display: block;
        width: 60px;
        margin-top: 10px;
    }
    .sidenav-text,.nav-logout-text {
        display: none;
    }
    .brand-logo {
        margin-right: -60px;
    }
    .body .sidenav {
        margin-right: -10px;
        margin-top: 215px;
    }
    .logout {
        margin-right: -20px;
    }
    .logout i,.sidenav i {
        font-size: 21px;
    } 
    .body .mainboard .bank-card .rightside {
        overflow-y: scroll;
    }
    .body .sidenav .navs:hover,.body .sidenav .nav-special:hover {
        background-color: black;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: -8px;
}


    
}